
body{
    background: rgb(236, 235, 235);
}
.box{
    height: auto;
    text-align: center;
    margin: 10px;
    max-width: 95%;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);
}
.box h1{
    color: rgb(59, 57, 161);
    font-weight: 900;
}

.box-panel-user img{
    margin: 10px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    display: inline-block;
}
.box-panel-user p{
    color: grey;
    font-size: 20px;
    margin-top: 10px;
    
}


.box-panel-skills div, .box-panel-courses div{
    border: 0.5px solid rgb(192, 191, 191);
    margin: 15px;
    width: 70%;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
}
.box-panel-skills p{
    font-size: 16px;
    font-weight: 500;
    color: grey;
}


.box-panel-courses p{
    color: #248c84;
    font-size: 30px;
    font-weight: 800;
}
.box-panel-courses span{
    font-size: 20px;
    color: grey;
}
.btn-rounded{
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 15px;
    font-weight: 900;
    border: none;
    transition: all 0.3s ease-out;
}

.btn-rounded.green{
    background-color: #11ac8b;
}
.btn-rounded.red{
    background-color: rgb(122, 41, 41);
}
.btn-rounded:hover{
    background-color: grey;
    transform: scale(1.1);
}